@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add Machine This Engineer Is Qualified For:</h2>

<h4>Add a machine to @Html.DisplayFor(model => model.EngineerName)</h4>

@if(@Model.Machines.Count == 0)
{
  <p>Sorry, you haven't created any machines to add to this engineer yet. Please add a machine first.</p>
}
else {
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}
}

<p>@Html.ActionLink("Back to list", "Index")</p>