@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>

@if(@Model.Machines.Count == 0)
{
  <p>This engineer has not been assigned to any machines yet.</p>
}
else
{
  <h4>Machines this engineer is qulified to repair:</h4>
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li>@join.Machine.MachineName</li>
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<hr>
<div class="row">
  <div class="col-md-3">
    <p>@Html.ActionLink("View My Engineers", "Index")</p>
  </div>
  <div class="col-md-3">
    <p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
  </div>
  <div class="col-md-3">
    <p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
  </div>
  <div class="col-md-3">
    <p>@Html.ActionLink("Add a Machine Qualification", "AddMachine", new { id = Model.EngineerId })</p>
  </div>
</div>



